{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<div class="container">
  <h1 class="mt-4">Admin Pannel</h1>
  <a href="{% url 'post' %}" class="btn btn-primary">Make Your Post</a>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Post Title</th>
        <th>Author</th>
        <th>Date Posted</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for approvedpost in approvedposts %}
      <tr>
        <td>{{ approvedpost.title }}</td>
        <td>{{ approvedpost.postby }}</td>
        <td>{{ approvedpost.date }}</td>
        <td>
            <a href="{% url 'readmore' approvedpost.id %}"
            class="btn btn-success btn-sm me-2" onclick="return confirm('Are you sure you want to read this post?');">View</a>

            <a href="{% url 'delete' approvedpost.id %}"
            class="btn btn-danger btn-sm me-2" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}